/* 
 * Grid mixins
 */


// Generate container
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

@mixin make-container-max-width($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $max-width in $max-widths {

    @include media-breakpoint-min($breakpoint, $breakpoints) {
      max-width: $max-width;
    };
  }
}
