/* 
 * Grid mixins
 */


// Generate container
@mixin grid-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

@mixin grid-container-max-width($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $max-width in $max-widths {

    @include media-breakpoint-min($breakpoint, $breakpoints) {
      max-width: $max-width;
    };
  }
}


// Generate row
@mixin grid-row($gutter: $grid-gutter) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter;
  margin-left: -$gutter;
}
